<div class="form-group">
    <label for="aircraft_abbr" class="col-sm-2 control-label">Aircraft Abbreviation</label>
    <div class="col-sm-10">
        <input type="text" ng-model="aircrafts.aircraft_abbr" class="form-control" id="aircraft_abbr" placeholder="Aircrafts Abbreviation"/>
    </div>
</div>

<div class="form-group">
    <label for="aircraft_name" class="col-sm-2 control-label">Aircraft Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="aircrafts.aircraft_name" class="form-control" id="aircraft_name" placeholder="Aircrafts Name"/>
    </div>
</div>
<div class="form-group">
    <label for="landing_roll_out" class="col-sm-2 control-label">Landing Roll Out</label>
    <div class="col-sm-10">
        <input type="text" ng-model="aircrafts.landing_roll_out" class="form-control" id="landing_roll_out" placeholder="Aircrafts landing_roll_out"/>
    </div>
</div>
<div class="form-group">
    <label for="manufacturer" class="col-sm-2 control-label">Manufacturer</label>
    <div class="col-sm-10">
        <input type="text" ng-model="aircrafts.manufacturer" class="form-control" id="manufacturer" placeholder="Manufacturer"/>
    </div>
</div>
<div class="form-group">
    <label for="max_cruise_speed" class="col-sm-2 control-label">Maximum Cruise Speed</label>
    <div class="col-sm-10">
        <input type="text" ng-model="aircrafts.max_cruise_speed" class="form-control" id="max_cruise_speed" placeholder="Aircrafts max_cruise_speed"/>
    </div>
</div>
<div class="form-group">
    <label for="max_range_speed" class="col-sm-2 control-label">Maximum Range Speed</label>
    <div class="col-sm-10">
        <input type="text" ng-model="aircrafts.max_range_speed" class="form-control" id="max_range_speed" placeholder="Aircrafts max_range_speed"/>
    </div>
</div>
<div class="form-group">
    <label for="norm_cruise_speed" class="col-sm-2 control-label">Normal Cruise Speed</label>
    <div class="col-sm-10">
        <input type="text" ng-model="aircrafts.norm_cruise_speed" class="form-control" id="norm_cruise_speed" placeholder="Normal cruise speed"/>
    </div>
</div>
<div class="form-group">
    <label for="aircraft_range" class="col-sm-2 control-label">Range</label>
    <div class="col-sm-10">
        <input type="text" ng-model="aircrafts.aircraft_range" class="form-control" id="aircraft_range" placeholder="Aircraft Range"/>
    </div>
</div>
<div class="form-group">
    <label for="rate_of_climb" class="col-sm-2 control-label">Rate Of Climb</label>
    <div class="col-sm-10">
        <input type="text" ng-model="aircrafts.rate_of_climb" class="form-control" id="rate_of_climb" placeholder="Rate Of Climb"/>
    </div>
</div>
<div class="form-group">
    <label for="service_ceiling" class="col-sm-2 control-label">Service Ceiling</label>
    <div class="col-sm-10">
        <input type="text" ng-model="aircrafts.service_ceiling" class="form-control" id="service_ceiling" placeholder="Sevice Ceiling"/>
    </div>
</div>


<div class="form-group">
    <label for="stall_speed" class="col-sm-2 control-label">Stall Speed</label>
    <div class="col-sm-10">
        <input type="text" ng-model="aircrafts.stall_speed" class="form-control" id="stall_speed" placeholder="Stall Speed"/>
    </div>
</div>


<div class="form-group">
    <label for="takeoff_roll" class="col-sm-2 control-label">Take Off Roll</label>
    <div class="col-sm-10">
        <input type="text" ng-model="aircrafts.takeoff_roll" class="form-control" id="takeoff_roll" placeholder="Take Off Roll"/>
    </div>
</div>



<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">

        <input type="submit" class="btn btn-primary" value="Save"/>

    </div>
</div>
