<div class="container pad-top">

  <a ui-sref="newAircraft" class="btn-primary btn-lg nodecoration">Add New Aircraft</a>
  <br>
  <table class="table shipwrecktable">
      <tr>
          <td><h3>All DuckAirlines</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="aircraft in aircrafts">
          <td>{{aircraft.aircraft_id}}</td>
          <td>{{aircraft.aircraft_abbr}}</td>
          <td>{{aircraft.aircraft_name}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewAircraft({id:aircraft.aircraft_id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteAircrafts(aircraft)">Delete</a>
          </td>
      </tr>
  </table>
</div>
