<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h2>India Air - Aircrafts</h2>
        <img src="/images/airlines.jpg" width="600px;" style="margin-left: 300px;" class="img-rounded img-responsive"/>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Aircrafts List</h2>
          <p><a class="btn btn-default" href="#/aircrafts" role="button">Click Here! &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Awesome!</p>
      </footer>
    </div> <!-- /container -->
